@font-face
  font-family Strongkey
  font-style normal
  src url(../style/font/Strongkey.ttf)

h1
  font-family Strongkey, sans-serif
  margin: 0
  font-size 144px
  color #fcfcfc
  line-height 100vh
  user-select none

main
  width 100vw
  height 100vh
  text-align center
  background-color #3b3b3b
